<div class="container">
  <div class="paragraph-about-us">
    <div class="columns">
      <div class="column">
        <div class="about-us-text">
          {{ content.field_paragraph_about_us_text }}
        </div>
      </div>
      <div class="column">
        {{ content.field_paragraph_about_us_image }}
      </div>
    </div>
  </div>
</div>
