  <div class="paragraph-testimonial-footer">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <span class="test-footer-text">
            {{ content.field_paragraph_test_footer_text }}
          </span>
        </div>
        <div class="column is-6">
          <span class="test-footer-menu">
            menu here…
          </span>
        </div>
      </div>
    </div>
  </div>
