<div class="container">
  <div class="paragraph-testimonial">
    <div class="columns">
      <div class="column is-8">
        <h3 class="testimonial-title">
          {{ content.field_paragraph_test_title }}
        </h3>
        <p>
          {{ content.field_paragraph_test_body }}
        </p>
      </div>
      <div class="column is-4">
        <button class="button testimonial-btn">
          {{ content.field_paragraph_test_button }}
        </button>
      </div>
    </div>
  </div>
</div>
