<div class="paragraph-text">
  <div class="columns">
    <div class="column">
    </div>
    <div class="column is-6">
      {{ content.field_paragraph_text_text }}
    </div>
    <div class="column">
    </div>
  </div>
</div>
