<div class="container">
  <div class="paragraph-about-us">
    <div class="column">
      {{ content.field_paragraph_about_us_text }}
    </div>
    <div class="column">
      {{ content.field_paragraph_about_us_image }}
    </div>
  </div>
</div>
