<div class="hero">
  {{ content.field_paragraph_hero_image }}
  <div class="hero-text">
    <h1 class="title">
      {{ content.field_paragraph_hero_title }}
    </h1>
    <h2 class="subtitle">
      {{ content.field_paragraph_hero_sub_title }}
    </h2>
  </div>
</div>
