<div class="container">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="paragraph-contact">
        <div class="contact-text">
          {{ content.field_paragraph_contact_message }}
        </div>
      </div>
    </div>
  </div>
</div>
